body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #0f0f0f;
  color: #eee;
  text-align: center;
}

a {
  color: #61dafb;
  text-decoration: none;
}
#navbar {
  background: #111;
  padding: 10px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#navbar a:hover {
  color: #fff;
}